<!DOCTYPE html>
<html>
<head>
	<title>Registration and Log in</title>
</head>
<body>
<h2>Log in here:</h2>

	<form action="/login" method="POST">
	{% if request.session.log_reg == 'log' %}
		{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
		{% endif %}
	{% endif %}
	<table>
		{% csrf_token %}
		<tr>
			<td><label>Email:</label></td>
			<td><input type="text" name="email"></td>
		</tr>
		<tr>
			<td><label>Password:</label></td>
			<td><input type="password" name="password"></td>
		</tr>
	</table>
		<input type="submit" value="Log In">
		<!-- <a href="/signup">Not have an account yet? click here to sign up</a> -->
	</form>
	<h2>Not have an account yet? Sign up here:</h2>
	<form action="/register" method="post">
	{% if request.session.log_reg == 'reg' %}
		{% if messages %}
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
		{% endif %}
	{% endif %}
	<table>
		{% csrf_token %}
		<tr>
			<td><label>First Name:</label></td>
			<td><input type="text" name="first_name"></td>
		</tr>
		<tr>
			<td><label>Last Name:</label></td>
			<td><input type="text" name="last_name"></td>
		</tr>
		<tr>
			<td><label>Email Address:</label></td>
			<td><input type="text" name="email"></td>
		</tr>
		<tr>
			<td><label>Password:</label></td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td><label>Confirm Password:</label></td>
			<td><input type="password" name="confirm"></td>
		</tr>
	</table>
		<input type="submit" value="Sign Up">
	</form>
</body>
</html>